*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffff;
}

.div1{
    width: 100%;
    height: 150px;
    background-color: rgb(241, 10, 184);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    text-align: center;
}

.container{
    display: flex;
    gap: 15px;
    padding: 20px;
}

.div2,
.div3{
    flex:2;
    background-color: rgb(3, 158, 172);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.div3{
    background-color: rgb(3, 158, 172);
}

.div2 h2,
.div3 h2{
    text-align: center;
    margin-bottom: 10px;
    color: #000000;
}

.div2 p,
.div3 p{
    text-align:left;
    color: #000000;
    height: 100%;;
}

.div4{
    flex:2;
    height: 100%;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.div4{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(3, 158, 172) ;
}

.row{
    display: flex;
    gap: 10px;
}


.item{
    flex: 1;            
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    text-align: center;
    border-radius: 5px;
}

.special{
    width: 95%;         
    background-color: #ffffff;
}